<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="https://formspree.io/f/xvoejygr" method="POST">
        <div>
            <label>
                Your email:
                <input type="email" name="email">
            </label>
        </div>
        <div>
            <label>
                Your message:
                <textarea name="message"></textarea>
            </label>
        </div>
        <!-- your other form fields go here -->
        <button type="submit">Send</button>
    </form>
</body>

</html>